# Node.js
node_modules/
.env

# Build output
dist/
build/

# Dependency directory
jspm_packages/

# IDEs
.vscode/
.idea/

# Logs
logs/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
Thumbs.db
